* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  display: inline-block;
}

/* nav start */
#nav {
  background-color: #fbf3f0;
}
#nav .main-l-t {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#nav .container img {
  margin-left: 50px;
  margin-right: 100px;
}
#nav ul li {
  display: flex;
  margin-right: 30px;
  margin-top: 15px;
}
#nav ul li:last-child {
  margin-top: 0;
}
#nav ul li a {
  padding: 0;
  color: #29313d;
  font-size: 18px;
  font-weight: 600;
}
#nav ul li svg {
  margin: 7px 0 0 5px;
}
#nav ul li a button {
  width: 146px;
  height: 64px;
  border: none;
  margin-left: 150px;
  color: #ff5538;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #ff5538;
  background-color: transparent;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
/* nav end */

/* main start */
#main img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
#main h2 {
  color: #29313d;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%; /* 24px */
  text-transform: capitalize;
  margin: 130px 0 20px 0;
}
#main h3 {
  color: #29313d;
  font-size: 64px;
  font-weight: 700;
  line-height: 130%; /* 83.2px */
  text-transform: capitalize;
}
#main h4 {
  color: #29313d;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%; /* 36px */
  text-transform: capitalize;
  margin-top: 171px;
  margin-bottom: 60px;
}
/* main end */

/* offer start */
#offer {
  padding: 80px 0 120px 0;
}
#offer h2 {
  color: #29313d;
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 60px 0 48px 0;
}
#offer h3 {
  color: #29313d;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0.7;
  margin-bottom: 64px;
}
#offer h3:hover {
  color: #ff5538;
  opacity: 1;
}
#offer .col-2 {
  margin: 0 !important;
}
#offer .boxs {
  width: 220px;
  height: 82px;
  line-height: 82px;
  color: #29313d;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  background: #fbf3f0;
  text-align: center;
  margin-bottom: 80px;
  opacity: 0.7;
}
#offer .boxs:hover {
  opacity: 1;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
}
#offer .box {
  background-color: #fff;
  margin-bottom: 30px;
}
#offer h4 {
  color: #29313d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
  margin: 33px 0 14px 24px;
}
#offer .box h5 {
  color: #29313d;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0 0 35px 24px;
}
/* offer end */

/* talk start */
#talk {
  position: relative;
  padding: 100px 0;
  background-color: #ffd7c8;
}
#talk img {
  position: absolute;
  top: 0;
  right: 0;
}
#talk h2 {
  color: #29313d;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 7px;
}
#talk h3 {
  color: #29313d;
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 72px;
}
#talk button {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  border: none;
  padding: 14px 28px;
  margin-left: 0;
  color: #fdf9f8;
  background: #ff5538;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
#talk h4 {
  position: relative;
  color: #29313d;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-transform: capitalize;
  opacity: 0.8;
}
#talk h4::after {
  content: "";
  width: 1310px;
  height: 1px;
  position: absolute;
  top: -24px;
  left: 0;
  opacity: 0.2;
  z-index: 99;
  background: #29313d;
}
/* talk end */

/* footer start */
footer {
  padding: 140px 0 57px 0;
}
footer img {
  margin-bottom: 44px;
}
footer h2 {
  color: #29313d;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  opacity: 0.8;
  text-transform: capitalize;
  margin-bottom: 189px;
}
footer ul li {
  color: #29313d;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.7;
  line-height: 24px;
  margin-bottom: 30px;
  text-transform: capitalize;
  display: block;
}
footer h3 {
  color: #29313d;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 48px;
}
footer h4 {
  color: #29313d;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
  text-transform: capitalize;
}
/* footer end */
