* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  display: inline-block;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* nav start */
#nav {
  background-color: rgba(219, 213, 251, 0.5);
}
#nav .main-l-t {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#nav .container img {
  margin-left: 50px;
}
#nav ul li {
  display: flex;
  margin-right: 30px;
  margin-top: 15px;
}

#nav ul.navbar-nav {
  margin-left: 85px;
}
#nav ul li {
  display: flex;
}
#nav ul.dropdown-menu {
  --bs-dropdown-min-width: none;
  background-color: transparent;
  border: none;
}
#nav ul li.nav-item {
  margin-right: 20px;
  padding-top: 5px;
}
#nav ul li.dropdown-item {
  width: 100%;
}
#nav ul li:last-child {
  margin-top: 0;
}
#nav ul li a {
  padding: 0;
  color: #29313d;
  font-size: 18px;
  font-weight: 600;
}
#nav ul li a button {
  width: 146px;
  height: 64px;
  margin-left: 150px;
  color: #fff;
  border: none;
  background-color: #8454f5;
  font-size: 18px;
  font-weight: 600;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
/* nav end */

/* main start */
#main h2 {
  color: #3d3430;
  font-size: 64px;
  font-weight: 800;
  margin-top: 144px;
}
#main h3 {
  color: #5f5450;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 24px;
}
#main button {
  width: 195px;
  height: 64px;
  color: #221a2c;
  font-size: 20px;
  font-weight: 700;
  margin: 12px 24px 164px 0;
  background-color: transparent;
  border: 1px solid #8773ef;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#main button:hover {
  color: #ffffff;
  background-color: #7258f7;
}
/* main end */

/* help start */
#help {
  position: relative;
}
#help .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
#help h2 {
  color: #3d3430;
  font-size: 56px;
  font-weight: 700;
  margin: 32px 0 64px 0;
}
#help h3 {
  color: #3d3430;
  font-size: 30px;
  font-weight: 700;
  margin-top: 18px;
}
#help h4 {
  color: #5f5450;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 102px;
}
/* help end */

/* what start */
#what {
  height: 849px;
  position: relative;
}
#what .bg {
  position: absolute;
  top: 0;
  left: 0;
}
#what h6 {
  color: #3d3430;
  font-size: 56px;
  font-weight: 700;
  margin: 138px 0 20px 20px;
}
#what h5 {
  color: #5f5450;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 20px 20px;
}
#what .accordion {
  height: 300px;
  --bs-accordion-border-width: 0;
}
#what .accordion-button {
  color: #3d3430;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
#what .accordion-button:focus {
  background-color: transparent;
  color: #3d3430;
  border-color: none;
  box-shadow: none;
}
#what .accordion-button:not(.collapsed) {
  color: #3d3430 !important ;
  background-color: transparent;
}
#what .accordion-body {
  color: #5f5450;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: capitalize;
}
/* what end */

/* make start */
#make {
  position: relative;
  padding: 80px 0 0 0;
}
#make .bg {
  position: absolute;
  top: 0;
  left: 0;
}
#make h2 {
  color: #5f5450;
  font-size: 64px;
  font-weight: 800;
}
#make h3 {
  color: #3d3430;
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0 20px 0;
}
#make h4 {
  color: #5f5450;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}
/* make end */

#build {
  position: relative;
  padding: 120px 0;
}
#build .bg {
  position: absolute;
  top: 0;
  left: -20px;
}
#build h {
  display: block;
  color: #221a2c;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 31px;
}
#build span {
  color: #29313d;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}
#build img {
  margin: 0 20px;
  margin-bottom: 10px;
}
#build p {
  display: inline-block;
  color: #5f5450;
  text-align: center;
  padding-top: 5px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  width: 98px;
  height: 32px;
  background-color: #e2ddfb;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
#build .box {
  background-color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#build .box:hover {
  transition: 0.5s;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.15);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#build .box:hover .txt {
  transition: 0.5s;
  background-color: #fef8e4;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#build .txt {
  padding: 40px 0 45px 0;
  background-color: #e2ddfb;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.15);
}
#build .txt h2 {
  color: #3d3430;
  font-size: 40px;
  font-weight: 700;
}
#build .txt h3 {
  color: #5f5450;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 15px 0 28px 0;
}
#build .txt .center {
  margin-left: 101.5px;
  display: flex;
}
#build .txt .center h4 {
  color: #3d3430;
  font-size: 72px;
  font-weight: 700;
}
#build .txt .center h5 {
  color: #3d3430;
  font-size: 16px;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 10px;
}
#build .text h3 {
  color: #6c7d93;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 19px 0 44px 0;
}
#build button {
  color: #6001d3;
  font-size: 16px;
  font-weight: 700;
  width: 160px;
  height: 45px;
  margin-bottom: 37px;
  background-color: transparent;
  border: 1px solid #6001d3;
}
#build .box:hover button {
  transition: 0.5s;
  color: #f5f1f9;
  background-color: #7258f7;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* build end */

/* work start */
#work {
  position: relative;
  padding: 100px 0 912px 0;
}
#work .bg {
  position: absolute;
  top: 100px;
  left: 0;
}
#work h2 {
  color: #3d3430;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
}
#work h3 {
  color: #5f5450;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}
/* work end */

/* people start */
#people {
  position: relative;
  padding-bottom: 100px;
}
#people .bg {
  position: absolute;
  top: 0;
  left: 0;
}
#people h2 {
  color: #3d3430;
  font-size: 56px;
  font-weight: 700;
  margin: 100px 0 70px 0;
}
#people .box {
  margin-right: 40px;
  padding: 62px 0 34px 85px;
  background-color: #fff;
  box-shadow: -10px 20px 50px 0px rgba(220, 220, 224, 0.3);
}
#people .box .center {
  display: flex;
}
#people .box .center img {
  width: 74px;
  height: 60px;
}
#people h3 {
  color: #3d3430;
  font-size: 24px;
  font-weight: 700;
  margin: 6px 0 15px 21px;
}
#people h4 {
  color: #5f5450;
  font-size: 18px;
  font-weight: 600;
  margin-left: 21px;
  margin-bottom: 21px;
}
#people h5 {
  color: #5f5450;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin-left: 15px;
}
/* people end */

/* footer start */
#footer {
  background-color: #19153d;
  padding: 120px 0 0 0;
}
#footer h2 {
  color: #fefefe;
  opacity: 0.9;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-transform: capitalize;
  margin-top: 44px;
}
#footer h3 {
  color: #fefefe;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 48px;
}
#footer h4 {
  color: #fefefe;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
  opacity: 0.7;
}
#footer h5 {
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 50px;
  opacity: 0.6;
}
/* footer end */
