* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0;
}
body {
  width: 1920px;
}
ul li {
  display: inline-block;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
/* nav start */
#nav {
  background-color: rgba(22, 12, 109, 0.5);
}
#nav .main-l-t {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#nav .container img {
  margin-left: 50px;
  margin-right: 200px;
}
#nav ul li {
  display: flex;
  margin-right: 30px;
  margin-top: 15px;
}
#nav ul li:last-child {
  margin-top: 0;
}
#nav ul li a {
  padding: 0;
  color: #eff4fa;
  font-size: 18px;
  font-weight: 600;
}
#nav ul li:hover a {
  color: #1bbf00;
}
#nav ul li:hover svg path {
  stroke: #1bbf00;
}
#nav ul li svg {
  margin: 7px 0 0 5px;
}
#nav ul li svg path {
  stroke: #eff4fa;
}
#nav ul li a button {
  width: 146px;
  height: 64px;
  margin-left: 150px;
  color: #fff;
  border: none;
  background-color: #1bbf00;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* nav end */

/* main start */
#main h2 {
  color: #fafafe;
  font-size: 84px;
  font-weight: 700;
  line-height: 100px;
  text-transform: capitalize;
  margin-top: 146px;
  margin-bottom: 20px;
}
#main h3 {
  color: #e6e5f3;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 16px;
}
#main button {
  width: 232px;
  height: 64px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 285px;
  background-color: #1bbf00;
  text-transform: capitalize;
  margin-right: 24px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
#main button:hover {
  background-color: transparent;
  border: 2px solid #1bbf00;
}
/* main end */

/* choose start */
#choose {
  height: 626px;
  margin: 720px 0 0 0;
  padding: 70px 0;
}
#choose .box {
  display: flex;
  width: 568px;
  margin-top: 25px;
  margin-bottom: 12px;
  padding: 25px 0 10px 28px;
  border-radius: 12px;
}
#choose .box:hover {
  background-color: #fff;
  box-shadow: 10px 30px 60px 0px rgba(162, 169, 192, 0.15);
}
#choose .box img {
  width: 38px;
  height: 25px;
  margin: 15px 25px 0 0;
}
#choose .box h2 {
  color: #726e9e;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
#choose h3 {
  color: #141135;
  font-size: 48px;
  font-weight: 700;
  margin-left: 50px;
}
#choose h4 {
  color: #726e9e;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 50px;
}
#choose button {
  width: 189px;
  height: 64px;
  color: #f9f9f9;
  font-size: 20px;
  border: none;
  font-weight: 700;
  background-color: #1bbf00;
  margin-left: 50px;
  margin-top: 41px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* choose end */

/* what start */
#what {
  padding: 100px 0 91px 0;
}
#what h2 {
  color: #141135;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
#what h3 {
  color: #6c7d93;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}
#what .box {
  height: 395px;
  margin-bottom: 30px;
  padding: 48px 0 0 0;
  background-color: #ffffff;
  transition: 0.5s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#what .box:hover {
  background-color: #6b62c5;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.4);
}
#what .box:hover h4 {
  color: #fafafe;
}
#what .box:hover h5,
#what .box:hover h6 {
  color: #e6e5f3;
}
#what .box:hover a {
  color: #f4f4f5;
}
#what h4 {
  color: #141135;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 32px 0 1px 0;
}
#what h5,
#what h6 {
  color: #726e9e;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
#what h5 {
  margin-bottom: 38px;
}
#what h6 {
  margin-bottom: 13px;
}
#what a {
  color: #141135;
  font-size: 18px;
  font-weight: 700;
}
#what button {
  width: 189px;
  height: 64px;
  color: #f9f9f9;
  font-size: 20px;
  border: none;
  font-weight: 700;
  background-color: #1bbf00;
  margin-top: 56px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* what end */

/* create start */
#create {
  padding: 70px 0;
}
#create h2 {
  color: #141135;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 23px;
}
#create h3 {
  color: #726e9e;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 45px;
}
#create h4 {
  color: #141135;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
#create h5 {
  color: #726e9e;
  font-family: Paprika;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}
/* create end */

/* plan start */
#plan {
  padding: 100px 0;
}
#plan h2 {
  color: #141135;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 64px;
}
#plan .box {
  background-color: white;
  padding: 60px 0;
  transition: 0.5s;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#plan .box:hover {
  background-color: #6b62c5;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.15);
}
#plan .box:hover h3 {
  color: #fafafe;
}
#plan .box:hover h6 {
  color: #e6e5f3;
}
#plan h3 {
  color: #141135;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
#plan h4 {
  display: inline-block;
  color: #1bbf00;
  font-size: 34px;
  font-weight: 500;
}
#plan h5 {
  display: inline-block;
  color: #1bbf00;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 12px;
}
#plan h6 {
  color: #726e9e;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
/* plan end */

/* people start */
#people h2 {
  color: #141135;
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 200px 0 149px 0;
}
#people .box {
  position: relative;
  background: #fff;
  padding: 120px 0 56px 0;
  margin-bottom: 150px;
  transition: 0.5s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#people .box:hover {
  box-shadow: -15px 30px 50px 0px rgba(171, 175, 199, 0.3);
}
#people h3 {
  color: #726e9e;
  font-size: 24px;
  font-weight: 400;
  margin: 33px 0 48px 0;
}
#people h4 {
  color: #221a2c;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
#people h5 {
  color: #726e9e;
  font-size: 16px;
  font-weight: 400;
}
#people .img {
  position: absolute;
  top: -100px;
  left: 400px;
}
/* people end */

/* like start */
#like h2 {
  color: #030314;
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  margin-bottom: 25px;
}
#like h3 {
  color: #726e9e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 18px;
  margin-top: 15px;
}
#like h3:first-child {
  margin-left: 70px;
}
#like h3:hover {
  color: #1bbf00;
}
#like h4 {
  color: #141135;
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
  margin-left: 70px;
}
#like a {
  color: #141135;
  font-size: 18px;
  font-weight: 700;
  margin-left: 70px;
}
/* like end */

/* footer start */
#footer {
  margin-top: 84px;
  background-color: #48409c;
  padding: 120px 0 0 0;
}
#footer h2 {
  color: #fefefe;
  opacity: 0.9;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-transform: capitalize;
  margin-top: 44px;
}
#footer h3 {
  color: #fefefe;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 48px;
}
#footer h4 {
  color: #fefefe;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
  opacity: 0.7;
}
#footer h5 {
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 50px;
  opacity: 0.6;
}
/* footer end */
